body{
	font-family: "Times New Roman", Times, serif;
}

.title{
	text-align: center;
	margin-top: 100px;
	font-family: "Times New Roman", Times, serif;
	margin-bottom: 100px;
}
#first-title{
	margin-top: 150px;
}
.menu{
	position: fixed;*/
	float: right;
	right: 0;/*O TOP: 0 E O RIGHT: 0 SERVEM PARA ALINHAR A DIV NO CANTO SUPERIOR DIREITO*/
	top: 0;
	font-family: "Times New Roman", Times, serif;
	background-color: #DEB887;
	
	border-radius: 5%;
}
#technology{
	text-align: center;
	/*margin-top: 1000px;*/
}
#fortune{
	text-align: center;
	margin-top: 1500px;
}
li{
	display: inline-block;
	margin-right: 20PX;
	margin-top: 7px;

}
.links{
	text-decoration: none;
	color: inherit; /*inherit serve para não deixar o link marcado como visto*/
}
#link-gates{
	color: inherit;
}
.links:hover{
	background-color: DarkSalmon;/*para fazer a transição nos links apenas quando passar o cursor por cima*/
	border: black solid;
	border-radius: 5px;	
}
.font{
	margin-left: 20px;
}
p{
	text-align: justify;
	margin-left: 20px;
	margin-right: 20px;	
	font-size: 22px;
}
h1{
	margin-left: 20px;
}

footer{
		text-align: right;
  	padding: 3px;
  	background-color: DarkSalmon;
  	color: white;
  	margin-top: 100%;  	  	
}
.rodape{
	margin-right: 0;
	margin-left: 0;
}
.dev{
	margin-right: 20px;
}
img{
	width: 300px;
}


/*aqui eu configuro para que fique oculto o menu para portáteis até que
atenda a condição do media query*/

.dropdown{
	display: none;
}


@media screen and (max-width: 700px){
	/*aqui em .menu{} eu deixei a condição de que o menu desaparecerá quando a máxima
	largura da tela for de 700px*/
	.menu{
		display: none;
	}
	body{
		background-color: #DEB887;
	}
	li{
		display: block;
	}
	


}
@media screen and (max-width: 700px){	
	/*aqui em mídia query eu deixei a condição de que o menu portátil aparecerá quando a máxima
	mínima largura da tela for de 700px*/
	/*.menu-portable{
		display: none;
	}*/



	.dropbtn {
	  background-color: #964B00;
	  color: white;
	  padding: 16px;
	  font-size: 16px;
	  border: none;
	  cursor: pointer;

	}

	/* The container <div> - needed to position the dropdown content */
	.dropdown {
	  position: fixed;
	  display: inline-block;
	  right: 0;
	  top: 0;

	}

	/* Dropdown Content (Hidden by Default) */
	.dropdown-content {
	  display: none;
	  position: absolute;
	  background-color: #DEB887;
	  min-width: 160px;
	  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	  z-index: 1;
	}

	/* Links inside the dropdown */
	.dropdown-content a {
	  color: black;
	  padding: 12px 16px;
	  text-decoration: none;
	  display: block;
	}

	/* Change color of dropdown links on hover */
	.dropdown-content a:hover {background-color: #f1f1f1}

	/* Show the dropdown menu on hover */
	.dropdown:hover .dropdown-content {
	  display: block;
	}

	/* Change the background color of the dropdown button when the dropdown content is shown */
	.dropdown:hover .dropbtn {
	  background-color: #3e8e41;
	}


}

	









